name: Tests
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  list-workspaces:
    runs-on: ubuntu-latest
    name: list workspaces
    outputs:
      test-types: ${{ steps.set-matrix.outputs.test-types }}
      lint: ${{ steps.set-matrix.outputs.lint }}
      test-unit: ${{ steps.set-matrix.outputs.test-unit }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - id: set-matrix
        run: node .github/workflows/list-workspaces.js test:types lint test:unit >> $GITHUB_OUTPUT
  types:
    runs-on: ubuntu-latest
    needs: list-workspaces
    strategy:
      matrix:
        workspace: ${{ fromJson(needs.list-workspaces.outputs.test-types) }}
    name: ${{ matrix.workspace }} / types
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check types
        run: pnpm --filter ${{ matrix.workspace }} --if-present test:types
  lint:
    runs-on: ubuntu-latest
    needs: list-workspaces
    strategy:
      matrix:
        workspace: ${{ fromJson(needs.list-workspaces.outputs.lint) }}
    name: ${{ matrix.workspace }} / lint
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Lint files
        run: pnpm --filter ${{ matrix.workspace }} --if-present lint
  unit:
    runs-on: ubuntu-latest
    needs: list-workspaces
    strategy:
      matrix:
        workspace: ${{ fromJson(needs.list-workspaces.outputs.test-unit) }}
    name: ${{ matrix.workspace }} / unit
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm --filter ${{ matrix.workspace }} --if-present test:unit
      - name: Collect coverage
        uses: coverallsapp/github-action@main
        if: success()
        with:
          flag-name: ${{ matrix.workspace }}
          file: ./packages/${{ matrix.workspace }}/coverage/lcov.info
          parallel: true
          fail-on-error: false
  finish:
    runs-on: ubuntu-latest
    needs: unit
    steps:
      - name: Upload collected coverage
        uses: coverallsapp/github-action@main
        with:
          parallel-finished: true
